@import url("https://use.typekit.net/grg4xus.css");

@import url('global.css');

body {
    background-color: peachpuff;
    color: royalblue;
    font-family: 'proxima-nova', sans-serif;
}

.font-awesome-icons {
    background-color: peachpuff;
}

.proxima-nova-imed {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    font-style: normal;
}