
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


@import url('global.css');

body {
    background-color: peachpuff;
    color: royalblue;
}

.figtree-imed {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}